*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

:root {
  #app {
    background: radial-gradient(
      ellipse 80% 50% at 50% -20%,
      rgba(120, 119, 198, 0.25),
      rgba(255, 255, 255, 0)
    );
  }
  .dark {
    #app {
      background: radial-gradient(
        ellipse 80% 50% at 50% -20%,
        rgba(120, 119, 198, 0.3),
        rgba(255, 255, 255, 0)
      );
    }
  }
}

a {
  text-decoration: none;
  background-color: transparent;
}
body {
  margin: 0;
  font-family: var(--bl-font-family-base);
  color: var(--bl-content-color-base);
  background-color: var(--bg-color);
  transition: var(--bl-transition-background);
}

ul {
  padding: 0;
}

code {
  font-family: var(--bl-font-family-mono);
  line-height: 2;
}
