*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--bl-font-family-base);
  color: var(--text-base);
  background-color: var(--bg-color);
  transition: var(--bl-transition-background);
}

ul {
  padding: 0;
}

code {
  font-family: var(--bl-font-family-mono);
  line-height: 2;
}

#app {
  margin-left: calc(100vw - 100%);
}

a {
  text-decoration: none;
  color: var(--text-link-base);
  background-color: transparent;
}
