@use 'sass:map';

@use './shared' as *;
@use './design' as *;

$date-picker: () !default;
$date-picker: map.merge(
  (
    header-font-size: 12px,
    panel-width: 300px,
    panel-border: get-css-var('border-base'),
    panel-shadow: get-css-var('shadow-base')
  ),
  $date-picker
);

.#{$namespace}-date-picker {
  &-vars {
    @include define-preset-values('date-picker', $date-picker);
  }
  &__popper {
    padding: 8px 0;
  }

  &__panel {
    // box-shadow: var(--bl-date-picker-panel-shadow);
    border: get-css-var(border-shape) get-css-var(border-color-light-2);
    border-radius: 12px;
  }

  &--list {
    width: var(--bl-date-picker-panel-width);
  }

  &__panel--body {
    position: relative;
  }

  &__header {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(7, calc((get-css-var('date-picker-panel-width') - 44px) / 7));
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    box-shadow: rgba(55, 56, 60, 0.12) 0px 1px 2px;
    font-size: get-css-var(date-picker-header-font-size);
    &--day {
      text-align: center;
    }
  }

  &__calendar {
    overflow: auto;
    -webkit-mask-image: linear-gradient(transparent, #000 10%, #000 90%, transparent);
    mask-image: linear-gradient(transparent, #000 10%, #000 90%, transparent);
    height: 474px;
    position: relative;

    &--buffer {
      position: absolute;
      width: 100%;
      box-sizing: border-box;
    }
  }
}
