@use 'sass:map';
@use './shared' as *;
@use './design' as *;

$dropdown: () !default;
$dropdown: map.merge((), $dropdown);

.#{$namespace}-dropdown {
  &-vars {
    @include define-preset-values('dropdown', $dropdown);
  }

  display: inline-block;

  &__trigger {
    display: flex;
    min-width: 100%;
    height: 100%;
  }

}
