@use './shared' as *;
@use './design' as *;

.#{$namespace}-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  transition: get-css-var('transition-transform');
  transform-origin: 50% 50%;
  & > g {
    display: flex;
  }
  svg {
    width: 1rem;
    height: 1rem;
    line-height: 1;
    vertical-align: -0.125rem;
    fill: currentColor;
  }
}
