@use 'sass:map';

@use './shared' as *;
@use './design' as *;

$masker: () !default;
$masker: map.merge(
  (
    z-index: get-css-var('z-index-masker'),
    bg-color: rgba(get-css-var('bg-color-base'), 0.8),
    opacity: 1
  ),
  $masker
);

.#{$namespace}-masker {
  &-vars {
    @include define-preset-values('masker', $masker);
  }

  @include basis;
  @include fixed;
  z-index: 100;

  &__mask {
    @include fixed;

    backdrop-filter: blur(4px);
		color: get-css-var(bg-color-base);
    transform: translateZ(0);

    &-inner {
      width: 100%;
			background: currentColor;
			opacity: 0.8;
      height: 100%;
    }
  }

	$self: &;

	&--reverse {
		#{$self}__mask {
			color: get-css-var(bg-color-reverse);
		}
	}
}
