@use 'sass:map';
@use './shared' as *;
@use './design' as *;

$modal: () !default;
$modal: map.merge((), $modal);

.#{$namespace}-modal {
  &-vars {
    @include define-preset-values('modal', $modal);
  }

  &--wrap {
    position: fixed;
    inset: 0;
  }

  &--dialog {
    max-width: calc(100vw - 32px);
  }
}
