@use 'sass:map';

@use './shared' as *;
@use './design' as *;
@use './common/animation.scss' as *;

$month-grid: () !default;
$month-grid: map.merge((), $month-grid);

.#{$namespace}-month-grid {
  &-vars {
    @include define-preset-values('date-picker', $month-grid);
  }
  display: table;
  width: 100%;
  padding-inline: 22px;
  padding-top: 12px;

  &__title {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    padding-left: calc(((100% / 7) - var(--bl-font-size-base)) / 2);
  }

  &__days--body {
    tr[role='row'] {
      display: flex;

      td {
        width: calc(100% / 7);
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: color 0.2s;

        &[aria-label]:not([aria-label='']):hover {
          cursor: default;
          border: 2px solid get-css-var(color-primary-light-2);
        }
      }
      td + .current-date {
        animation: border-flash 1.4s infinite;
      }
    }
  }
}
