@use 'sass:map';

// as * 可以强制sass删除namespace
@use './shared/mixins.scss' as *;
@use './design/variables.scss' as *;

:root {
  @each $type in $types {
    @include define-type-color($type);
  }

  @include define-preset-values('border-color', $border-color-map);

  @include define-css-var('color-white', $color-white);
  @include define-css-var('color-black', $color-black);

  @include define-css-var('border-width', $border-width);
  @include define-css-var('border-style', $border-style);
  @include define-css-var('border-shape', $border-shape);

  @each $name in map.keys($border-color-map) {
    @include define-css-var(
      ('border', $name),
      get-css-var('border-shape') get-css-var('border-color', $name)
    );
  }

  @include define-css-var('transition-duration', $transition-duration);
  @include define-css-var('transition-timing', $transition-timing);
  @include define-css-var('transition-base', $transition-base);

  @include define-preset-values('transition', $transition-map);

  @include define-preset-values('radius', $radius-map);
  @include define-preset-values('fill-color', $fill-color-map);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
