@use 'sass:map';
@use './shared' as *;
@use './design' as *;

$tabs: () !default;
$tabs: map.merge((), $tabs);

.#{$namespace}-tabs {
  display: flex;
  flex-direction: column;

  &--left {
    flex-direction: row;
  }
  &--right {
    flex-direction: row-reverse;
  }
  &--top {
    flex-direction: column;
  }
  &--bottom {
    flex-direction: column-reverse;
  }

  .is-left {
    margin-right: 24px;
    flex-direction: column;
  }
  .is-right {
    margin-left: 24px;
    flex-direction: column;
  }

  .is-top {
    margin-bottom: 24px;
    flex-direction: row;
  }
  .is-bottom {
    margin-top: 24px;
    flex-direction: row;
  }

  &-content {
    flex: 1;
  }
}
