@use 'sass:map';
@use './shared' as *;
@use './design' as *;

$tabs-list: () !default;
$tabs-list: map.merge((), $tabs-list);

.#{$namespace}-tabs-list {
  @include basis;
  display: flex;
  padding: 4px;
  border-radius: get-css-var('radius-base');
	width: auto;

  &-vars {
    @include define-preset-values('tabs-list', $tabs-list);
  }
}
