@use 'sass:map';
@use './shared' as *;
@use './design' as *;

$tabs-trigger: () !default;
$tabs-trigger: map.merge(
  (
    bg-color: get-css-var('color-primary-base')
  ),
  $tabs-trigger
);

// only work in tabs list
.#{$namespace}-tabs-list {
  .#{$namespace}-tabs-trigger {
    @include basis;

    width: 100%;
    color: get-css-var('content-color-secondary');
    line-height: 1.25rem;
		text-align: center;
    text-wrap: nowrap;
    z-index: 1;

    &-vars {
      @include define-preset-values('tabs-trigger', $tabs-trigger);
    }

    padding: 6px 24px;
    border-radius: inherit;
    cursor: pointer;

    transition: color,background-color,border-color,text-decoration-color,fill,stroke .25s ease-in-out;

    &__active {
      color: get-css-var(content-color-primary);
    }
    &__disabled {
      cursor: not-allowed;
    }
  }
}
