@use 'sass:map';
@use './shared' as *;
@use './design' as *;

$tag-map: () !default;
$tag-map: map.merge(
	(
		color: get-css-var(primary-color-foreground),
		bg-color: get-css-var(border-color-base)
	),
	$tag-map
);

.#{$namespace}-tag {
  @include basis;
	display: inline-flex;
	justify-content: center;
	background: get-css-var(tag-bg-color);
	align-items: center;
	line-height: 1.2;
	padding: 2px 10px;
  border-radius: 999px;
	color: get-css-var(tag-color);

	&:hover {
		background: get-css-var(tag-bg-color-hover);
	}

  &-vars {
    @include define-preset-values('tag', $tag-map);
  }

	& + & {
		margin-inline-start: 6px;
	}

	@mixin define-tag-style ($style-map) {
    @include define-preset-style('tag', $style-map);
	}

  @each $type in $types {
    @at-root {
      &__#{$type} {
        @include define-tag-style(
          (
            color: 'color' $type 'foreground',
						color-active: 'color' $type 'foreground',
            bg-color: 'color' $type 'base',
            bg-color-hover: 'color' $type 'hover'
          )
        );
      }
    }
  }
}
