@use 'sass:map';

@use './shared' as *;
@use './design' as *;

$tooltip: () !default;
$tooltip: map.merge(
  (
    bg-color: get-css-var('bg-color-base'),
    bg-color-dark: get-css-var('fill-color-reverse'),
    s-color: get-css-var('shadow-color-base'),
    s-color-dark: get-css-var('bg-color-reverse'),
    shadow: get-css-var('shadow-shape') get-css-var('tooltip-s-color'),
    v-padding: 8px,
    h-padding: 14px,
    min-height: 30px,
    min-width: 60px,
    content-color: get-css-var('content-color-base'),
    content-color-dark: get-css-var('bg-color-base'),
    radius: get-css-var('radius-base')
  ),
  $tooltip
);

.#{$namespace}-tooltip {
  &-vars {
    @include define-preset-values('tooltip', $tooltip);
  }

  &__tip {
    background-color: get-css-var('tooltip-bg-color');
    box-shadow: get-css-var('tooltip-shadow');
    padding: get-css-var('tooltip-v-padding') get-css-var('tooltip-h-padding');
    position: relative;
    min-width: get-css-var('tooltip-min-width');
    min-height: get-css-var('tooltip-min-height');
    border-radius: get-css-var('tooltip-radius');
  }

  &__popper {
    &[data-placement^='top'] {
      padding: 5px 0 10px;
    }
    &[data-placement^='bottom'] {
      padding: 10px 0 5px;
    }
    &[data-placement^='left'] {
      padding: 0 10px 0 5px;
    }
    &[data-placement^='right'] {
      padding: 0 5px 0 10px;
    }
  }
  @mixin theme($name, $content-color, $fill-color) {
    &__popper--#{$name} &__tip {
      color: $content-color;
      background-color: $fill-color;
    }
  }

  @include theme(
    'dark',
    get-css-var('tooltip-content-color-dark'),
    get-css-var('tooltip-bg-color-dark')
  );
}
